/* c閫氱敤class */
.h-100 {
	height: 100%;
}
.ico,
.block {
	display: block;
}
.button {
	display: block;
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	text-align: center;
	cursor: pointer;
}

/* 宸ュ叿鏍忔牱寮�*/
.public-bar {
	background: #f8f8f8;
	border-bottom: 1px solid #eaeaea;,
}
.ly-contai {
	height: 40px;
	margin: 0 30px;
}

/* 宸ュ叿鏍忔牱寮�- 闈㈠寘灞戝鑸�*/
.public-bar-crumbs {
	width: 30%;
	height: 14px;
	margin-top: 20px;
	line-height: 14px;
}
.public-bar-crumbs .crumbs-link {
	color: #929291;
}

/* 宸ュ叿鏍忔牱寮�- tab鍒囨崲鏍�*/
.public-bar-tab {
	width: 70%;
	height: 30px;
	margin-top: 10px;
}
.public-bar-tab .button {
	min-width: 50px;
	height: 30px;
	padding: 0 10px;
	margin-left: 2px;
	line-height: 30px;
	color: #666564;
	background: #dcdcdc;
	-ms-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.public-bar-tab .button.btn-sel {
	color: #fff;
	background: #c92930;
}

/* 鍐呭涓讳綋 */
.public-main {
	top: 70px;
	bottom: 30px;
	width: 100%;
}
.public-main .ly-contai {
	margin: 0 30px;
	height: 100%;
}

/* 鍐呭涓讳綋 - 琛ㄥ崟鎺т欢 */
.public-main-input {
	width: 100%;
	height: 180px;
}
.public-main-input.ly-col-1 {
	height: 108px;
}
.public-main-input.ly-col-1 + .public-main-table {
	top: 108px;
}	
.public-main-input.ly-col-1 .ly-input-w {
	height: 38px;
}
.public-main-input.ly-col-2 {
	height: 144px;
}
.public-main-input.ly-col-2 + .public-main-table {
	top: 144px;
}	
.public-main-input.ly-col-2 .ly-input-w {
	height: 74px;
}
.public-main-input.ly-col-3 {
	height: 180px;
}
.public-main-input.ly-col-3 + .public-main-table {
	top: 180px;
}
.public-main-input.ly-col-3 .ly-input-w {
	height: 110px;
}
.public-main-input .ly-input-w {
	overflow: hidden;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;	
}
.public-main-input .ly-row {
	height: 36px;
}
.public-main-input .ly-col {
	width: 25%;
	height: 100%;
}
.public-main-input .ly-col .label,
.public-main-input .ly-col .input {
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	line-height: 36px;
	font-size: 13px;
	font-family: 'SimSun';
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.public-main-input .ly-col .label {
	position: relative;
	width: 30%;
	white-space: nowrap;
	text-align: right;
}
.public-main-input .ly-col .input {
	width: 70%;
}
.public-main-input .ly-col .ly-bor-none {
	display: block;
	width: 80%;
	padding: 5px 0 3px 0;
	margin-left: 10%;
	margin-top: 5px;
	text-indent: 8px;
	border: 1px solid #eee;
	-ms-border-radius: 4px;
	border-radius: 4px;
	outline: none;
}
.public-main-input .ly-col .ly-sel-w {
	float: left;
	width: 90%;
	margin-top: 5px;
	margin-left: 10px;
	line-height: 150%;
}
.public-main-input .ly-button-w {
	width: 100%;
	height: 30px;
	margin-top: 20px;
	text-align: center;
}
.public-main-input .ly-button-w .button {
	display: inline-block;
	width: 60px;
	height: 30px;	
	margin: 0 10px;
	line-height: 30px;
	color: #fff;
	background: #c92930;
	-ms-border-radius: 4px;
	border-radius: 4px;
}


/* 鍐呭琛ㄦ牸 */
.public-main-table {
	top: 180px;
	bottom: 50px;
	width: 100%;
}
.public-main-input-false .public-main-input {
	height: 0;
}
.public-main-input-false .public-main-table {
	top: 0 !important;
}
.public-main-table .ly-cont {
	overflow-x: hidden;
 	width: 100%;
 	height: 100%;
}
.public-main-table .t-table {
	min-width: 100%;
	border: none;
}
.public-main-table .t-thead {
	background: #eee;
}
.public-main-table .t-thead .t-tr {
	height: 36px;
}
.public-main-table .t-tbody .t-tr {
	height: 36px;
}
.public-main-table .t-th,
.public-main-table .t-td {
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Microsoft Yahei';
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.public-main-table .t-th {
	font-size: 14px;
	font-weight: normal;
	border-right: 1px solid #ccc;
}
.public-main-table .t-td {
	max-width: 400px;
	min-width: 40px;
	padding: 0 5px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}


/* 搴曢儴 */
.public-main-footer {
	bottom: 0;
	width: 100%;
	height: 30px;
}
.public-main-footer .btn-add{
	width: 130px;
	height: 30px;
	margin-right: 10px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	background: #c92930;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

/* 搴曢儴 - 鍒嗛〉 */
.public-main-footer-pagin {
	height: 30px;
	line-height: 30px;
}
.public-main-footer-pagin .ly-button-w {
	margin-top: 5px;
	margin-left: 10px;
}
.public-main-footer-pagin .button {
	display: inline-block;
	overflow: hidden;
	width: 53px;
	height: 18px;
	margin-left: 10px;
	line-height: 18px;
	font-size: 12px;
	border: 1px solid #333;
}
.public-main-footer-pagin .button.btn-input {
	width: 28px;
}
.public-main-footer-pagin .button .input {
	float: left;
	width: 100%;
	padding: 2px 0 1px 0;
	font-size: 12px;
	text-align: center;
	text-indent: 0;
	color: #c6262d;
	border: none;
	outline: none;
}
.formButton{
	display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 10px;
    line-height: 30px;
    color: #fff;
    background: #c92930;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
    text-align: center;
    cursor: pointer;
}
