<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
          http://www.springframework.org/schema/jee
          http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
          http://www.springframework.org/schema/tx
		  http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
     <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/config/jdbc.properties</value>
				<!-- <value>/WEB-INF/config/systememail.properties</value>
				<value>/WEB-INF/config/smsconfig.properties</value> -->
			</list>
		</property>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>

		<!-- 开启池的prepared  -->
		<property name="poolPreparedStatements">
			<value>false</value>
		</property>

		<!-- 最大连接数量 -->
		<property name="maxActive">
			<value>200</value>
		</property>

		<!-- 超过时间限制，回收没有用(废弃)的连接（默认为 300秒，调整为180）-->
		<property name="removeAbandonedTimeout">
			<value>180</value>
		</property>

		<!-- 超过removeAbandonedTimeout时间后，是否进 行没用连接（废弃）的回收 -->
		<property name="removeAbandoned">
			<value>true</value>
		</property>

		<!-- 默认自动提交 -->
		<property name="defaultAutoCommit">
			<value>true</value>
		</property>

		<!-- 初始化连接数 -->
		<property name="initialSize">
			<value>5</value>
		</property>

		<!-- 最大空闲连接数20 -->
		<property name="maxIdle">
			<value>5</value>
		</property>

		<!-- 最小空闲连接数5 -->
		<property name="minIdle">
			<value>3</value>
		</property>

		<!--
			logAbandoned=true的话，将会在回收事件后，在log中打印出回收Connection的错误信息，包括在哪个地方用了Connection却忘记关闭了，主要供在调试的时候使用。
		-->
		<property name="logAbandoned">
			<value>true</value>
		</property>
	</bean>
	
	<!-- <bean id="jdbcTemplate" class="com.zd.core.jdbc.JdbcTemplate"
		abstract="false" lazy-init="false" autowire="default">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean> -->
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource" />
    </bean>
	
	<!-- 事务管理 -->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
	
</beans>
