@charset "utf-8";
/* CSS Document */

html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,em,font,img,small,strong,b,u,i,s,dl,dt,dd,ol,ul,li,fieldset,form,label,input,textarea{padding:0px;margin:0px;}
body{font:12px/150% "宋体";background:#fff;}
a{text-decoration:none;}
ol, ul li{list-style:none outside none;}
img{border:0px;}
.clear{clear:both;height:0px;overflow:hidden;font-size:0;}
input,a,select {outline:none;}
a:hover {text-decoration:none;}
.w{position:relative;width:100%;min-width:1000px;}
/* head */
.head{width:100%;height:80px;background:url(../images/headbg.png) repeat-x;position:relative;}
.head .logo{height:76px;width:174px;position:absolute;top:4px;left:71px;}
.head p{line-height:30px;width:230px;text-align:center;position:absolute;top:10px;right:260px;}
.head p a{color:#000;}
.head p a span {color:red}
.head p a:hover {text-decoration:underline;}
/* head end */
/* footer */
/* footer end */