.ui-help-msg {
	display: inline-block;
	position: relative;
}

.ui-help-msg-dot {
	display: block;
	line-height: 20px;
	color: #FD342B;
	position: relative;
}

.ui-help-msg-dot:after {
	content: ' ';
	position: absolute;
	left: -4px;
	top: -4px;
	right: -4px;
	bottom: -4px;
}

.ui-help-msg-info {
	color: #A8600F;
	border: 1px solid #E4A749;
	background: #FFEACA;
	font-weight: 400;
	position: absolute;
	border-radius: 3px;
	padding: 10px;
	right: -14px;
	top: 24px;
	display: none;
	white-space: nowrap;
}

.ui-help-msg:hover {
	text-decoration: none;
}

.ui-help-msg:hover .ui-help-msg-info {
	display: block;
}