/************************ reset ************************/
body,
ol, ul, li, dl, dt, dd,
h1, h2, h3, h4, h5, h6, p, pre,
form, fieldset, legend, input, textarea, select, button,
blockquote, th, td, hr, article, aside, details,
figcaption, figure, header, footer, section, hgroup, menu, nav {
    margin: 0;
    padding: 0;
}
body {
    font: 16px/150% SimSun, Arial, 'Microsoft Yahei';
    color: #1a1a1a;
    background-color: #fff;
}
ol, ul, li {
    list-style: none;
}
img {
    border: none;
}
input, a, select, button {
    outline: 0;
}
a {
    color: #333;
    text-decoration: none;
}
a:visited {
    color: #333;
}
a:hover {
    color: #333;
    text-decoration: none;
}
a:active {
    color: #333;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    content: '\0020';
}
.w {
    width: 1190px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.hide {
    display: none;
}
.show {
    display: block;
}
