/* 首页左侧内容 */
.main {width:100%;background:url(../images/index/csms_contbg.png) 0 0 repeat-x;}
.main_menu{width: 280px; background: #eee;}
.main_cont {width:160px;padding:0px 15px 15px;margin:0px left;}
.main_cont .main_menu {width:160px;float:left;padding-bottom:50px;background-color:#2b2c2e;}
.main_menu .menu_top {width:100%;height:80px; background: #c6262d; text-align: center; color: #fff; font-size: 18px; line-height: 80px;}
.main_menu .hlcont {background:url(../images/index/indexbg.png) 0px -58px no-repeat;position:relative;z-index:9999;}
.menu_top .mt_img {width:80px;height:80px;float:left;margin:11px 0px 0px 11px;display:inline;position:relative;}
.mt_img img {width:70px;height:70px;padding:5px;}
.mt_img s {height:80px;display:block;background-image:url(../images/index/indexbg_24.png);background-repeat:no-repeat;position:absolute;top:0px;left:0px;z-index:1;}
.mt_img .imgbg_big {display:none;}
.mt_img .imgbg_small {display:block;}
.mt_img .imgbg_big s {width:133px;background-position:0px -37px;}
.mt_img .imgbg_small s {width:80px;background-position:-136px -37px;}
.mt_img i {width:5px;height:14px;overflow:hidden;background:url(../images/index/indexbg.png) -155px -171px no-repeat;position:absolute;top:33px;right:-5px;cursor:pointer;z-index:2;}
.mt_img ul {width:50px;position:absolute;top:6px;left:80px;z-index:3;display:none;}
.mt_img ul li {height:18px;line-height:18px;}
.mt_img ul li a {color:#ededed;}
.mt_img ul li a:hover {color:#fdc04d;text-decoration:underline;}
.menu_top .topline {width:133px;} 
.topline i {width:7px;background-position:-153px -186px;right:-5px;}
.topline ul {display:block;}
.topline .imgbg_big {display:block;}
.topline .imgbg_small {display:none;}
.menu_top .mt_con {width:50px;height:80px;float:right;margin-top:11px;display:inline;position:relative;}
.mt_con a {width:18px;height:18px;overflow:hidden;display:block;background:url(../images/index/shezhi24.png) 0px 0px no-repeat;position:absolute;bottom:2px;left:0px;}
.main_menu .menu_cont {/*width:160px;*/font-family:"Microsoft YaHei";}
.menu_cont .mc_box {/*padding-bottom:8px*/;position:relative;}
.mc_box .png_s {display:none;}
.png_s s {width:170px;height:36px;background:url(../images/index/indexbg_24.png) 0px 0px no-repeat;position:absolute;top:0px;left:-8px;}
.mc_box .box_line {/*width:130px;*/ line-height:18px; padding-top:22px; padding-bottom: 18px; color:#1c1c1c;font-size:18px;cursor:pointer;position:relative;text-align: left;}
.mc_box .box_line font {float: left;display: block;height:16px;width: 16px; overflow: hidden; }
.mc_box .box_area {width:100%;padding-bottom:2px;display:none;}
.box_area a {display:block; height: 30px; line-height: 30px;text-align: left; margin-left: 45px;}
.box_area img{ padding-right: 6px; width: 6px; height: 9px;}
.box_area a.cur_a {color:#c6262d; background: #dcdcdc;}
.curbox .png_s {display:block;}
.curbox .box_area {display:block;}
.curbox .box_line {color:#222;}
.curbox .box_line i {background-position:-154px -165px;}

/* 首页右侧内容 */
.main_cont .main_right {width:780px;float:left;}
.main_right .mr_tabs {height:28px;padding:34px 0px 17px;position:relative;}
.mr_tabs .tabbtn {width:17px;height:17px;background-image:url(../images/index/indexbg.png);background-repeat:no-repeat;position:absolute;top:39px;display:none;}
.mr_tabs .prev {background-position:-72px -273px;left:10px;cursor:pointer;}
.mr_tabs .noclick_prev {background-position:-89px -273px;left:10px;}
.mr_tabs .next {background-position:-106px -273px;cursor:pointer;right:10px;}
.mr_tabs .noclick_next {background-position:-123px -273px;right:10px;}
.mr_tabs .sroll_content {width:707px;height:28px;overflow:hidden;position:absolute;top:34px;left:37px;}
.mr_tabs .main_tab {overflow:auto;zoom:1;position:relative;right:0px;}
.main_tab li {width:100px;height:28px;line-height:28px;overflow:hidden;float:left;margin-right:1px;display:inline;background:url(../images/index/indexbg.png) 0px -202px no-repeat;color:#888;text-align:center;cursor:pointer;}
.main_tab li.curli {color:#cb8500;background-position:0px -231px;}
.main_tab .mr_cont {width:780px;}

.mr_tabs .main_tab1 {overflow:auto;zoom:1;position:relative;right:0px;}
.main_tab1 li {width:100px;height:28px;line-height:28px;overflow:hidden;float:left;margin-right:1px;display:inline;background:url(../images/index/indexbg.png) 0px -202px no-repeat;color:#888;text-align:center;cursor:pointer;}
.main_tab1 li.curli {color:#cb8500;background-position:0px -231px;}
.main_tab1 .mr_cont {width:780px;}

.mr_cont .mrcont_box {width:100%;display:none;}
.mrcont_box .box_title {height:31px;line-height:31px;padding-left:10px;border:#d19118 1px solid;background-color:#fdc04d;color:#fff;font-size:14px;font-family:"Microsoft YaHei";position:relative;}
.box_title i {overflow:hidden;display:block;position:absolute;background-image:url(../images/index/indexbg.png);background-repeat:no-repeat;}

/* 右侧 我的账户 & 车辆管理 */
.mrcont_box .mrbox_left {width:189px;float:left;margin-bottom:10px;display:inline;}
.mrbox_left .box_title {width:177px;}
.mrbox_left .box_title i {width:20px;height:20px;background-position:-140px -202px;cursor:pointer;top:6px;right:5px;}
.mrbox_left .box_cont {width:100%;}
.box_cont .bc_line {height:24px;line-height:24px;border:#d2d2d2 1px solid;border-top:none;color:#333;}
.bc_line .bcline_t {width:64px;height:24px;overflow:hidden;padding:0px 4px 0px 7px;float:left;color:#222;border-right:#d2d2d2 1px solid;background-color:#f4f4f4;cursor:default;}
.bc_line .bcline_c {width:103px;padding-right:8px;float:left;text-align:right;}
.bc_line .redfont {color:#ff4d35;}
.bc_line .bluefont {color:#0084ff;}
.bc_line .greenfont {color:#209800;}
.bc_line .grayfont {color:#bbb;}
.box_cont .bankline {background-color:#f8f8f8;border:#e4e4e4 1px solid;border-top:none;}
.bankline .bcline_t {width:65px;padding:0px 5px;color:#bbb;background-color:none;border-right-color:#e4e4e4;}
.bankline .bcline_c {color:#bbb;}

/* 右侧 搜索 */
.mrcont_box .mrbox_search {width:400px;height:30px;padding:13px 13px 13px 165px;border:#d19118 1px solid;background-color:#fdc04d;float:right;margin-bottom:10px;display:inline;position:relative;z-index:10;}
.mrbox_search .search_left {width:290px;height:28px;overflow:hidden;float:left;margin-right:3px;display:inline;border:#d19118 1px solid;}
.search_left input {width:275px;height:15px;line-height:15px;padding:6px 7px;color:#222;background-color:#fff;border:none;border:#d9d9d9 1px solid;border-right:none;border-bottom:none;float:left;}
.mrbox_search .search_center {width:30px;height:30px;float:left;position:relative;}
.search_center .sc_img {width:30px;height:30px;background:url(../images/index/indexbg.png) -123px -313px no-repeat;cursor:pointer;}
.search_center .curimg {background-position:-92px -313px;}
.search_center i {width:152px;height:42px;display:block;overflow:hidden;background:url(../images/index/indexbg.png) 0px -159px no-repeat;position:absolute;top:0px;left:-456px;z-index:10;}
.search_center .sc_cont {width:250px;height:44px;line-height:22px;padding:5px 0px 4px 9px;background-color:#fff;border:#d19118 1px solid;position:absolute;top:31px;left:-156px;display:none;}
.sct_line input {width:13px;height:13px;overflow:hidden;float:left;margin:3px 2px 0px 0px;display:inline;}
.sct_line label {color:#555;float:left;margin-right:6px;display:inline;cursor:pointer;}
.sc_cont .warn_p {padding-left:23px;background:url(../images/index/indexbg.png) -144px -291px no-repeat;color:#e60012;}
.sc_cont s {width:30px;height:2px;overflow:hidden;background:url(../images/index/indexbg.png) -73px -260px no-repeat;position:absolute;top:-2px;left:155px;}
.mrbox_search .search_right {width:72px;height:30px;float:right;}
.search_right input {width:72px;height:30px;background:none;border:none;background:url(../images/index/indexbg.png) 0px -260px no-repeat;cursor:pointer;}

/* 右侧 融资记录 */
.mrcont_box .mrbox_list {width:580px;float:right;position:relative;z-index:1;}
.mrbox_list .box_title {width:568px;}
.mrbox_list .box_title i {width:31px;height:23px;overflow:hidden;background-position:-101px -236px;position:absolute;top:3px;right:6px;}
.mrbox_list .list_cont {width:100%;}
.list_cont .list_line {height:24px;line-height:24px;border:#d2d2d2 1px solid;border-top:none;border-right:none;color:#666;}
.list_cont .line_t {color:#222;text-align:center;}
.list_cont .grayline {background-color:#f4f4f4;}
.list_line .line_c {height:24px;overflow:hidden;float:left;border-right:#d2d2d2 1px solid;}
.line_t .date_c1 {width:123px;position:relative;overflow:visible;}
.date_c1 i {width:20px;height:20px;overflow:hidden;display:block;background:url(../images/index/indexbg.png) -140px -268px no-repeat;position:absolute;top:2px;right:2px;cursor:pointer;}
.line_t .sum_c1 {width:149px;}
.line_t .type_c1 {width:86px;}
.line_t .bank_c1 {width:116px;}
.line_t .deadline_c1 {width:100px;}
.list_line .date_c {width:123px;text-align:center;}
.list_line .sum_c {width:137px;padding-right:12px;text-align:right;}
.list_line .type_c {width:75px;padding-left:11px;text-align:left;}
.list_line .bank_c {width:105px;padding-left:11px;text-align:left;}
.list_line .deadline_c {width:88px;padding-left:12px;text-align:left;}
.list_line .redfont {color:#ff1e00;}
.list_line .greenfont {color:#209800;}
.list_line .yellowfont {color:#ffa800;}
.list_line .brownfont {color:#cb8500;position:relative;overflow:visible;}
.brownfont i {width:16px;height:14px;overflow:hidden;overflow:hidden;background:url(../images/index/indexbg.png) -144px -295px no-repeat;position:absolute;top:5px;right:6px;}
.brownfont span {width:122px;background-color:#fff;color:#ff1e00;border:#d19118 1px solid;position:absolute;top:20px;height:auto;left:-12px;z-index:10;display:none;}
.calendar {width:124px;background-color:#FCC;position:absolute;top:24px;left:0px;z-index:10;display:none;}

/* 右侧 分页 */
.box_page {width:100%;height:21px;margin-top:10px;}
.box_page .page {line-height:21px;float:right;}
.page span {width:200px;float:left;color:#999;text-align:right;padding-right:10px;}
.page a {height:21px;float:left;margin-left:3px;display:inline;text-align:center;color:#bbb;}
.page a.btna {width:48px;background:url(../images/index/indexbg.png) -49px -291px no-repeat;}
.page a.btna:hover, .page a.curbtn {color:#bb5500;background-position:0px -291px;}
.page a.numa {width:22px;background:url(../images/index/indexbg.png) -121px -291px no-repeat;}
.page a.numa:hover, .page a.curnum {color:#bb5500;background-position:-98px -291px;}

/* 右侧 额度管理 */
.mrcont_box .mrbox_limit {width:780px;margin-bottom:10px;float:left;display:inline;}
.mrbox_limit .box_title {width:768px;}
.mrbox_limit .bc_line .bcline_t {width:69px;}
.mrbox_limit .bc_line .bcline_c {width:99px;border-right:#d2d2d2 1px solid;}
.bc_line .bcline_btn {width:26px;height:24px;float:left;background-color:#f4f4f4;}
.bcline_btn a {width:18px;height:18px;display:block;margin:3px 0px 0px 4px;background:url(../images/index/indexbg.png) -142px -224px no-repeat;}

/* 右侧 我的授信银行 */
.mrcont_box .mrbox_bank {width:780px;margin-bottom:10px;}
.mrbox_bank .box_title {width:768px;}
.bank_cont .bank_line {height:24px;line-height:24px;border:#d2d2d2 1px solid;border-top:none;border-right:none;color:#666;}
.bank_cont .linetype1 {background-color:#f4f4f4;}
.bank_line .bline {height:24px;overflow:hidden;float:left;border-right:#d2d2d2 1px solid;color:#222;}
.bank_line .bl_t {width:150px;text-align:center;}
.bank_line .bl_t_last {width:23px;}
.bank_line .bl_c {width:140px;padding-right:10px;text-align:right;}
.bank_line .bl_c_last {width:23px;background-color:#f4f4f4;}
.bl_c_last a {width:18px;height:18px;display:block;background:url(../images/index/indexbg.png) -142px -224px no-repeat;margin:3px 0px 0px 3px;}
.bank_line .greenfont {color:#209800;}
.bank_line .redfont {color:#ff4d35;}
.bank_line .grayfont {color:#666;}
.bank_cont .linetype2 {background-color:#f4f4f4;}
.linetype2 .bline {padding-right:10px;text-align:right;color:#d2d2d2;}
.bank_line .bl_s {width:140px;}
.bank_line .bl_s_last {width:617px;}

/* 右侧 选择申请银行 */
.mrcont_box .select_bank {width:243px;height:31px;background-color:#fdc04d;border:#d19118 1px solid;} 
.select_bank .selectarea {width:187px;float:left;border-right:#d19118 1px solid;position:relative;}
.selectarea span {width:142px;height:31px;overflow:hidden;padding-left:10px;line-height:31px;float:left;color:#cb8500;}
.selectarea a.selecta {width:35px;height:31px;float:left;background:url(../images/index/indexbg.png) -56px -313px no-repeat;}
.selectarea ul {width:187px;position:absolute;top:32px;left:-1px;border:#d19118 1px solid;border-top:none;display:none;}
.selectarea ul li {width:179px;color:#222;line-height:22px;padding-left:8px;cursor:pointer;}
.selectarea ul li.hoverli {color:#cb8500;background-color:#fdc04d;}
.select_bank .selectbtn {width:55px;float:left;}
.selectbtn a {width:55px;height:31px;display:block;background:url(../images/index/indexbg.png) 0px -313px no-repeat;}

/* 黑色半透明遮挡层 */
#layoutbg {width:100%;position:fixed;left:0px;top:0px;z-index:1000;background-color:#000;filter:alpha(opacity=50);-moz-opacity:0.50;opacity:0.50;
_position:absolute;/*IE6*/
_top:expression(eval(documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 ));}

/* 步骤层 */
.steparea {width:318px;height:286px;position:absolute;left:50%;top:155px;margin-left:-186px;z-index:9999;}
.step {height:267px;padding:19px 23px 0px;display:none;position:relative;font-weight:bold;font-family:"Microsoft YaHei";font-size:14px;cursor:pointer;}
.step i {width:318px;height:286px;background:url(../images/index/stepcont_bg24.png) 0px 0px;position:absolute;top:0px;left:0px;z-index:-1;}
.step .step_title {height:33px;line-height:33px;padding-bottom:14px;}
.step_title .spannum {width:33px;float:left;text-align:center;color:#fff;background:url(../images/index/indexbg.png) -101px -202px no-repeat;}
.step_title .spancont {width:228px;padding-left:10px;float:left;color:#fdc04d;font-size:18px;}
.step .stpe_cont {line-height:22px;color:#333;}
.step1 .stpe_cont {padding:0px 10px;}
.line1 img {margin:0px 5px;}
.stpe_cont .line2 {height:30px;line-height:30px;padding:10px 0px 90px;}
.line2 img {width:18px;height:18px;float:left;margin:7px 10px 0px 0px;display:inline;}
.line2 span {width:210px;float:left;}
.stpe_cont .line3 {color:#ff9c00;}
.stpe_cont .line4 {text-indent:30px;padding:0px 8px;}
.stpe_cont .line4 span {color:#ff9c00;}
.stpe_cont .line5 {height:20px;line-height:20px;padding-top:15px;}
.steparea .step3 {cursor:default;}
.line5 a {float:right;padding:0px 5px 0px 20px;color:#888;font-size:12px;background:url(../images/index/indexbg.png) -143px -244px no-repeat;}
.stepmenu {width:160px;height:56px;position:absolute;top:270px;left:50%;z-index:9999;margin-left:-480px;font-family:"Microsoft YaHei";}
.stepmenu a {display:block;width:130px;height:28px;line-height:28px;padding-left:30px;background:url(../images/index/indexbg.png) 0px -29px no-repeat;position:absolute;left:0px;display:none;}
#step2_show {color:#fdc04d;top:0px;}
#step3_show {color:#fff;top:28px;}

/* 遮挡层箭头指向 */
.point {position:absolute;left:50%;margin-left:-312px;z-index:9999;display:none;}
.point1 {width:121px;height:39px;top:150px;}
.point2 {width:121px;height:38px;top:245px;}
.point3 {width:117px;height:89px;top:220px;}
.point .png {background-image:url(../images/index/indexbg_24.png);background-repeat:no-repeat;}
.point1 .png {width:121px;height:39px;background-position:0px -119px;}
.point2 .png {width:121px;height:38px;background-position:-123px -119px;}
.point3 .png {width:117px;height:89px;background-position:0px -160px;}